.TodoWrapper {
  text-align: center;
  background-color: #000c34;
  justify-items: center;
  color: #fff;
  width: auto;
  height: auto;


}


.todo-input {
  height: 27px;

}

.todo-input::placeholder {
  color: #ffffff4d;
  
}
.todo-btn {
  background-color: #8758ff;
  width: auto;
  color: #fff;
  padding: 0.55rem;
  border: none;
  cursor: pointer;
}



.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  height: 20px;

}

.fa-trash {
  margin-left: 0.75rem;
}


.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
